//全局变量样式
$color-mei:#e36beb;
$color-purple:#6780ea;
$color-white:#fff;
$color-black:#000;
$color-black1:#333;
$color-black2:#666;
$color-black3:#888;
$color-black4:#999;
$color-black5:#ddd;
$color-black6:#eee;